/*blood scheme*/
:root {
 
  --color-neutral: 255, 255, 255;
  --color-neutral-50: 250, 250, 250; 
  --color-neutral-100: 245, 245, 245;
  --color-neutral-200: 229, 229, 229; 
  --color-neutral-300: 212, 212, 212;
  --color-neutral-400: 163, 163, 163;
  --color-neutral-500: 115, 115, 115;
  --color-neutral-600: 82, 82, 82;
  --color-neutral-700: 64, 64, 64;
  --color-neutral-800: 1, 1, 1;    
  --color-neutral-900: 23, 23, 23;    

  --color-primary-50: 254, 242, 242;
  --color-primary-100: 254, 226, 226;
  --color-primary-200: 254, 202, 202;
  --color-primary-300: 252, 165, 165;
  --color-primary-400: 248, 113, 113;
  --color-primary-500: 239, 68, 68;   
  --color-primary-600: 220, 38, 38;
  --color-primary-700: 185, 28, 28;
  --color-primary-800: 153, 27, 27;
  --color-primary-900: 127, 29, 29;


  --color-secondary-50: 255, 241, 242;
  --color-secondary-100: 255, 228, 230;
  --color-secondary-200: 254, 205, 211;
  --color-secondary-300: 253, 164, 175;
  --color-secondary-400: 251, 113, 133;
  --color-secondary-500: 244, 63, 94;
  --color-secondary-600: 225, 29, 72;
  --color-secondary-700: 190, 18, 60;
  --color-secondary-800: 159, 18, 57;
  --color-secondary-900: 136, 19, 55;
}


